@import url('fonts.css');
@import url('navigation.css');

body {
    background-color: white;
    font-family: 'FormaDJRText', sans-serif;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

header {
    display: flex;
    max-width: 720px;
    width: 100%;
    position: relative;
    z-index: 1001;
}


main {
    max-width: 720px;
    width: 100%;
}

footer {
    max-width: 720px;
    width: 100%;

    padding-bottom: 64px;
    padding-top: 64px;
    color: dimgray;
}

a {
    color: unset;
}



@media screen and (min-width: 720px) {
    main {
        padding-top: 32px;
    }
}

img {
    max-width: 100%;
}
