@import url('fonts.css');
@import url('navigation.css');
@import url('colors.css');
@import url('content.css');

html {
    background-color: var(--background-color);
}

body {
    font-family: 'FormaDJRText', sans-serif;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
}

header {
    display: flex;
    max-width: 720px;
    width: 100%;
    position: relative;
    z-index: 1001;
}

main {
    max-width: 720px;
    width: 100%;
}

footer {
    max-width: 720px;
    width: 100%;

    padding-bottom: 32px;
    padding-top: 64px;
    color: dimgray;
}

a {
    color: unset;
}

p, a {
    letter-spacing: 0.2px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-family: 'FormaDJRDisplay', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}


img {
    max-width: 100%;
}
