/* Navigation Styles */
.navbar {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.nav-title {
    text-decoration: none;
    color: unset;
}

.nav-title:hover {
    color: unset;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}
