---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content }}

<br />

<hr class="backlink-divider">

<div class="backlink-box">
    {% if page.backlinks.size > 0 %}
    <h3>Notes mentioning this note</h3>
    <div>
        {% for backlink in page.backlinks %}
        <div class="backlinks">
            <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<br />
